/* Standard styling */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --orange: #e68c3a;
  --blue: #213e60;
  --beige: #d8d1bd;
  --creme: #f4f2ef;
  --sort: #2c2c2c;
}

body {
  background-color: var(--beige);
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

button {
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: var(--sort);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 0.8em;
  display: block;
  margin: 1em auto 0;
}

form button {
  padding: 12px 15px;
  font-size: 1em;
  width: 100%;
  max-width: 350px;
}

/* Styling af Loader */

.loader {
  position: absolute;
  background-color: var(--beige);
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  transition: opacity 0.5s ease;
}

.loader.fade-out {
  opacity: 0;
  pointer-events: none;
}

.loader figure {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader figure img {
  width: 400px;
}

/* Styling af Login */

.login-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

form .logo {
  width: 70%;
}

.btn-sign-out {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 0.7em;
}

.login-form input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
  background-color: white;
  border: none;
}

.image-preview {
  width: calc(100% - 4px);
  max-width: 346px;
  height: 200px;
  object-fit: cover;
  margin: 0.5em auto;
  display: block;
  cursor: pointer;
  border: solid 2px var(--green);
}

form .file-input {
  display: none;
}

.text-center {
  margin-top: 20px;
}

.text-link {
  color: var(--sort);
  font-weight: 500;
  text-decoration: none;
}

/* Styling af NavBar */

nav {
  position: fixed;
  display: flex;
  align-items: center;
  border-radius: 30px 30px 0 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: var(--creme);
  box-shadow: 0px -1px 13px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  justify-content: center;
  transition: 1s ease-in-out;
}

nav ul li:not(:last-child):not(:first-child) {
  position: relative;
}

nav ul li:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
}

nav img {
  width: 30px;
}

nav img {
  width: 30px;
  transition: filter 0.3s ease;
}

nav li.active img {
  filter: brightness(0) invert(1);
}

nav ul li.active::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--orange);
  border-radius: 50%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: width 0.3s ease, height 0.3s ease;
}

nav ul li:not(.active)::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: var(--orange);
  border-radius: 50%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: width 0.3s ease, height 0.3s ease;
}

/* Styling af HomePage */

.homepage-container {
  padding: 20px;
  margin-bottom: 100px;
}

.homepage-container h1 {
  font-size: 20px;
}

.overskrifter {
  font-size: 18px;
}

.logo {
  width: 220px;
  margin-bottom: 20px;
}

.notification {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
}

.search-bar {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding-left: 40px;
}

.search-bar img:nth-child(2) {
  width: 25px;
  position: absolute;
  left: 30px;
}

.search-bar img:nth-child(3) {
  width: 25px;
  position: absolute;
  right: 30px;
}

.textlink {
  text-decoration: none;
  color: var(--orange);
  font-size: 20px;
  font-weight: 500;
}

.shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: var(--creme);
}

.task-container {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

.task-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  margin-top: -25px;
}

.task-wrapper .task-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: inline-block;
  width: calc(85%);
  margin-right: 20px;
  margin-left: 10px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  overflow: hidden;
  background-color: var(--creme);
}

.task-wrapper::-webkit-scrollbar {
  display: none;
}

.task-wrapper .task-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.task-text {
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

.task-wrapper div {
  text-align: left;
}

.category-container {
  display: flex;
  gap: 10px;
  overflow-x: auto; /* Horisontal scroll */
  scroll-snap-type: x mandatory;
  margin-top: 20px;
}

.category-wrapper {
  flex: 0 0 calc(100% / 3.5); /* Viser 3.5 ikoner ad gangen */
  scroll-snap-align: start;
  display: flex;
  align-items: center;
}

.category-container .boks {
  width: 100%;
  height: max-content;
  padding: 10px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  transition: transform 0.3s;
  background-color: transparent;
}

.category-container .boks.active {
  border: none;
}

.category-container .boks img {
  width: 30px;
  height: 30px;
}

.category-container .undertekst {
  margin: 0;
  white-space: nowrap;
  text-align: center;
  color: var(--sort);
}

.category-container .boks.active .undertekst {
  color: white;
}

.filtered-tasks .task-wrapper .task-item {
  width: calc(80%);
}

.filtered-tasks .task-wrapper .task-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.category-container::-webkit-scrollbar {
  display: none;
}

/* Styling af CreateTask */

.image-button {
  display: flex;
  border: none;
  border-radius: 50%;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.image-button:hover {
  background-color: #213e60;
}

.button-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.step1h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #213e60;
  font-weight: 600;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.nextbtn {
  margin: 0 auto;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 70%;
  background-color: #2c2c2c;
  color: #f4f2ef;
  border-radius: 10px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.previousbtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  top: 20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  background-color: var(--blue);
}

.submitbtn {
  margin: 0 auto;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 70%;
  background-color: #2c2c2c;
  color: #f4f2ef;
  border-radius: 10px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.previousbtn img {
  width: 10px;
}

.stepbystep-boks {
  margin: 0 auto;
  width: 60%;
  height: 15px;
  background-color: #213e60;
  position: relative;
  border-radius: 20px;
  margin-top: 50px;
}

.filled {
  width: 20%;
  height: 100%;
  background-color: #e68c3a;
  border-radius: 20px;
}

.step1section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative;
}

.step1section::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 100px;
  background: rgb(216, 209, 189);
  background: linear-gradient(
    0deg,
    rgba(216, 209, 189, 1) 0%,
    rgba(0, 187, 255, 0) 50%
  );
  z-index: 1;
  pointer-events: none;
}

.boks-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 20px;
  justify-content: center;
  overflow-y: scroll;
  height: 500px;
  padding: 0 0 20px 0;
}

.boks.active {
  background-color: var(--orange);
}

.boks.active img {
  filter: brightness(0) invert(1);
}

.boks-container::-webkit-scrollbar {
  display: none;
}

.boks {
  height: 100px;
  width: 100px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.boks img {
  width: 60%;
}

.undertekst {
  color: #213e60;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  font-weight: 500;
}

/* Styling af StepTwo */

.step2section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}

.beskriv-boks {
  width: 80%;
  height: 200px;
  border-radius: 20px;
  background-color: #f4f2ef;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Skygge */
  box-sizing: border-box;
  margin-top: 10px;
}

.tekst {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  resize: none;
  font-size: 16px;
  background-color: #f4f2ef;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Skygge */
  padding: 10px;
  box-sizing: border-box;
}

.tekstarea:focus {
  outline: none; /* Fjern den standard fokusramme */
  border: 1px solid #213e60; /* Kantfarve ved fokus */
}

/* Styling af StepThree */

.stepthree-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.stepthreeh1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #213e60;
  font-weight: 600;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.boks-container-stepthree {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.boks-stepthree {
  height: 120px;
  width: 120px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: background-color 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.boks-stepthree.active {
  background-color: var(--orange);
}

.boks-stepthree.active img {
  filter: brightness(0) invert(1);
}

.boks-stepthree img {
  width: 60%;
}

.undertekst-stepthree {
  color: var(--sort);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.adresse-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 50px;
  margin-top: 30px;
}

.adresse-div h4 {
  font-size: 18px;
}

.adresse-boks {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
  width: 100%;
}

.adresse-boks img {
  width: 50px;
  height: 50px;
}

.adresse-boks input {
  width: 250px;
  background-color: var(--beige);
  color: var(--blue);
  font-size: 20px;
  font-weight: 600;
  border: none;
}

.adresse-boks input::placeholder {
  color: var(--blue);
}

input[type="text"] {
  outline: none;
  border: 1px solid transparent;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border: 0 solid transparent;
}

.dato-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 50px;
  margin-top: 30px;
}

.dato-div h4 {
  font-size: 18px;
}

.dato-boks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  width: 100%;
}

.dato-boks img {
  width: 50px;
  height: 50px;
}

.date-picker {
  position: relative;
  z-index: 50;
}

.date-input {
  width: 250px;
  background-color: var(--beige);
  color: var(--blue);
  font-size: 20px;
  font-weight: 600;
  border: none;
  outline: none;
  z-index: 50;
}

.date-input::placeholder {
  width: 250px;
  background-color: var(--beige);
  color: var(--blue);
  font-size: 20px;
  font-weight: 600;
  border: none;
  outline: none;
}

/* Styling af StepFour */
.filled4 {
  width: 80%;
  height: 100%;
  background-color: #e68c3a;
  border-radius: 20px;
}

.step4section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tekst-step4 {
  width: 70%;
  margin-bottom: 20px;
}

/* Styling af StepFive */

.step5section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prish2 {
  color: var(--blue);
  font-size: 34px;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 10px;
}

.pris-boks {
  width: 80%;
  height: 100px;
  border-radius: 20px;
  background-color: #f4f2ef;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Skygge */
  box-sizing: border-box;
  margin-top: 10px;
}

.pris-tekst {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  resize: none;
  font-size: 16px;
  background-color: #f4f2ef;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Skygge */
  padding: 10px;
  box-sizing: border-box;
  color: var(--blue);
  font-size: 28px;
  font-weight: 600;
}

/* Styling af Profile */

.profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--blue);
  height: 100vh;
  z-index: 1;
}

.chat-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 20px;
  border-radius: 50%;
  padding: 10px;
  border: none;
  background-color: var(--beige);
}

.chat-button img {
  width: 30px;
}

.profile-page {
  height: 85vh;
  background-color: var(--beige);
  z-index: 2;
  border-radius: 20px;
  box-shadow: 0px -7px 16px rgba(0, 0, 0, 0.5);
}

.btn2 {
  bottom: 150px;
}

.profile-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileimage {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profileimage p {
  text-align: center;
  color: var(--blue);
  font-weight: 600;
  margin-top: 10px;
  font-size: 40px;
}

.profilelementer input {
  text-align: center;
  color: var(--blue);
  font-weight: 600;
  margin-top: 10px;
}

.profilelementer input[type="text"] {
  font-size: 40px;
  width: 80%;
}

.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.rating-number {
  font-size: 30px;
  font-weight: 600;
  opacity: 0.5;
}

.reviews {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.5;
}

.star {
  display: flex;
  padding: 0px 3px;
}

.oprettelsesdato {
  display: flex;
  justify-content: center;
}

.oprettelsesdato h2 {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.3;
}

.profilopgaver {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 90%;
  margin: 20px auto;
}

.profilopgaver article {
  background-color: var(--creme);
  border-radius: 20px;
  flex: 1;
  padding: 15px 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.profilopgaver h2 {
  font-size: 35px;
  font-weight: 600;
  opacity: 0.5;
}

.profilopgaver span {
  font-size: 13px;
  opacity: 0.3;
}

.profiledescription {
  display: flex;
  justify-content: center;
}

.profiledescription p {
  width: 80%;
  height: 125px;
  border: none;
}

.profiledescription textarea {
  width: 80%;
  height: 125px;
  border: none;
}

.profil-rang img {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 17.5vh;
  right: 35px;
}

.rank-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rankcontainer {
  height: 250px;
  width: 90%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--beige);
  z-index: 999;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 22px;
  font-weight: bold;
}

.rankdescription img {
  width: 50px;
  height: auto;
}

.rankdescription {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 35px;
}

.rankdescription div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rankdescription div.active img {
  filter: brightness(0) invert(1);
}

.rankdescription div.active::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: var(--orange);
  border-radius: 50%;
  z-index: -1;
  transition: width 0.3s ease, height 0.3s ease;
}

.rank-beskrivelse {
  font-size: 18px;
  margin-top: 35px;
  padding: 5px;
  font-weight: 400;
}

/* Styling af SolveTask */

.link {
  text-decoration: none;
  list-style: none;
}

.udfør-opgaver {
  margin: 20px auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 80%;
}

.udfør-opgaver img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.udfør-opgaver div {
  text-align: left;
}

.task-item {
  margin: 50px 0;
  background-color: var(--creme);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  overflow: hidden;
}

.task-item img {
  object-fit: cover;
}

.titel-pris {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  font-weight: 600;
}

.titel-pris h4 {
  color: var(--orange);
  font-weight: 600;
  font-size: 24px;
}

.titel-pris h2 {
  color: var(--blue);
  font-weight: 600;
  font-size: 20px;
}

.kategori {
  opacity: 0.5;
  padding: 5px 10px 10px 10px;
  color: var(--sort);
}

.search-bar2 {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.search-bar2 input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding-left: 40px;
}

.search-bar2 img:nth-child(2) {
  width: 25px;
  position: absolute;
  left: 40px;
}

.search-bar2 img:nth-child(3) {
  width: 25px;
  position: absolute;
  right: 30px;
}

.solvetaskh1 {
  font-size: 36px;
  font-weight: 600;
  color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.åben-opgaver {
  margin-left: 10%;
}

/* Styling af TaskDescription */

.taskdescription {
  margin-bottom: 100px;
}

.task-detail {
  width: 100%;
}

.task-detail img {
  width: 100%;
  max-height: 30vh;
  object-fit: cover;
}

.task-detail h1 {
  color: var(--blue);
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  margin-bottom: 15px;
}

.task-detail p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.pris-dato {
  display: flex;
  flex-direction: column-reverse;
  align-items: left;
  width: 80%;
  gap: 20px;
  margin: 40px auto;
  color: var(--blue);
}

.pris-dato1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.pris-dato2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.pris-dato h3 {
  font-weight: 600;
  font-size: 20px;
}

.pris-dato img {
  width: 40px;
  height: auto;
}

.task-buttons {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.task-buttons button {
  z-index: 100;
  width: 70%;
  background-color: #2c2c2c;
  color: #f4f2ef;
  border-radius: 10px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.three-boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px auto;
}
.box {
  opacity: 0.3;
  border: 1px solid var(--sort);
  border-radius: 20px;
  width: 75px;
  height: 40px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  border: none;
  border-radius: 20px;
  width: 75px;
  height: 40px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  color: var(--creme);
}

.user-opgave {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}

.user-opgave img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.user-opgave1 {
  opacity: 0.5;
}

.user-opgave1 .link {
  text-decoration: none;
  color: var(--sort);
  font-size: 20px;
}

.task-dato {
  text-align: right;
  font-size: 12px;
  color: var(--blue);
  font-weight: 600;
  opacity: 0.3;
  width: 90%;
  margin: 0 auto 5px auto;
}

.black-line {
  border: none;
  border-top: 0.5px solid var(--sort);
  width: 90%;
  margin: 0 auto;
  opacity: 0.5;
}

.back-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  top: 20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  background-color: var(--blue);
}

.back-button-image {
  width: 10px;
}

/* STYLING AF CHAT.JSX */

.chat {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}

.chat h1,
.chat h2 {
  text-align: center;
}

.chat h1 {
  color: var(--blue);
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5px;
}

.chat h2 {
  font-size: 20px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  gap: 20px;
}

.chat-messages img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.my-message {
  text-align: right;
}

.chat-input {
  margin: 0 auto;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 80%;
  background-color: var(--creme);
  color: #f4f2ef;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 10px 10px;
}

.chat-input input {
  background-color: transparent;
  width: 100%;
  padding-right: 10px;
}

.chat-input button {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.chat-input img {
  width: 40px;
  height: 40px;
}

/* Styling af TaskMessages */

.chatoversigt {
  padding-top: 100px;
  padding-bottom: 100px;
}

.chatoversigt h1 {
  color: var(--blue);
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
}

.chatbeskeder {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  gap: 50px;
}

.chatbeskeder div {
  display: flex;
  align-items: center;
}

.chatbeskeder div::before {
  height: 10px;
  width: 10px;
  content: "";
  position: absolute;
  background-color: var(--orange);
  left: 20px;
  border-radius: 50%;
}

.chatbeskeder h2,
.chatbeskeder p {
  text-decoration: none;
  color: var(--sort);
}

.chatbeskeder h2 {
  font-weight: 500;
}

.chatbeskeder p {
  font-size: 12px;
}
