/* Standard styling */

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange: #e68c3a;
  --blue: #213e60;
  --beige: #d8d1bd;
  --creme: #f4f2ef;
}

body {
  background-color: var(--beige);
}

/* Styling af Loader */

.loader {
  position: absolute;
  background-color: var(--beige);
  top: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s ease;
}

.loader.fade-out {
  opacity: 0;
  pointer-events: none;
}

.loader figure {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader figure img {
  width: 400px;
}

/* Styling af NavBar */

nav {
  position: fixed;
  border-radius: 30px 30px 0 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--creme);
  box-shadow: 0px -1px 13px rgba(0, 0, 0, 0.3);
}

/* Styling af HomePage */
